body {
  font-family: 'VT323', monospace;
  font-size: 25px;
  color: #303030;
  background-image:url('../img/wallpaper.gif');
  margin: 20px 100px;
}

p {
  padding: 0 15px;
}

#settingsWrapper {
  font-size: 20px;
  position: absolute;
}

svg {
  background-color: white;
  margin:10px 500px 70px;
}

a {
  color:  #303030;

}

#descriptionWrapper {
  float: right;
  margin-left: 20px;
}

#description {
  color: white;
  background-color:  #303030;
}


#simulateButton {
    background-color: #303030;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#selectionDiv {
  background-color: #303030;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

input[type="button"] {
  font-size: 30px;
  font-family: 'VT323', monospace;

}
